@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_open_icon {
  color: #fff;
  font-size: 38px;
}

.main_div {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.main_h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
}

.main_p {
  color: #fff !important;
  font-size: 17px;
}

.main_link {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #cb0532;
  padding: 13px;
  transition: all 0.2s linear;
  background: #cb0532;
  color: #fff;
  margin-top: 15px !important;
}

/* EXPERTISE */

.expertise {
  width: 100%;
  background-image: url("/expertise_bg.jpeg");
  height: auto;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
  flex-direction: column;
}

.expertise-card {
  transition: all 0.3s linear;
}

.expertise-img {
  position: absolute;
  z-index: 9;
  top: -16%;
  border: 7px solid white;
  border-radius: 10px;
  left: 6%;
  height: 100px;
  color: white;
}

.expertise-card-action {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0;
  height: 0%;
  transition: all 0.5s linear;
  border: 7px solid #fff;
  right: 1px;
}

.expertise-card:hover.expertise-card .expertise-card-action {
  top: 0%;
  opacity: 1;
  height: 100%;
  color: #fff;
  background-color: #000;
}

/* CATEGORIES */

.category-h2 {
  color: #cb0532;
  letter-spacing: -1px;
  text-transform: capitalize;
  font-size: 50px;
}

.category-span {
  width: 10%;
  height: 8px;
  border-radius: 15px;
  background: #7d7e7e;
  display: block;
}

.category-card {
  transition: all 0.2s linear;
}

.category-card:hover {
  background: #fef9f9;
}

.category-card:nth-child(-n + 2) {
  border-top: 1px solid #d1cdcd;
}

.category-card-h3 {
  transition: all 0.3s linear;
  padding-top: 75px;
}

.category-card:hover.category-card .category-card-h3 {
  padding-top: 0px !important;
}

.category-card-p {
  font-size: 19px;
  transition: all 0.3s linear;
  color: #434343;
  opacity: 0;
}

.category-card:hover.category-card .category-card-p {
  display: block;
  transition: all 0.3s linear;
  opacity: 1;
}
