@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_open_icon {
  color: #fff;
  font-size: 38px;
  
}
.nav_open_icon_red {
  color: #cb0532;
  font-size: 38px;
}

.nav_close_icon{
  color: #fff;
  font-size: 38px;
}

.header-nav {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.scroll-header {
  background-color: #fff;
  border-bottom: 1px solid #eaeced;
}

/* SIDEBAR */
.menu {
  padding: 48px 48px 20px 58px;
  background: #17252d;
  transition: all .5s;
}

.side_links{
  transition: all .3s;
    letter-spacing: 1.8px;
    transition: all .5s;
}

.side_bar_a{
  transition: all .5s;
}

.side_bar_a:hover{
  border-left:3px solid red ;
  padding-left: 16px;
}


/* MAIN */

.main_div {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.main_h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
}

.main_p {
  color: #fff !important;
  font-size: 17px;
}

.right-box {
  padding: 0 28px;
}

.main_link {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #cb0532;
  padding: 13px;
  transition: all 0.2s linear;
  background: #cb0532;
  color: #fff;
  margin-top: 15px !important;
}

/* EXPERTISE */

.expertise {
  width: 100%;
  background-image: url("/expertise_bg.jpeg");
  height: auto;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
  flex-direction: column;
}

.expertise-card {
  transition: all 0.3s linear;
}

.expertise-img {
  position: absolute;
  z-index: 9;
  top: -16%;
  border: 7px solid white;
  border-radius: 10px;
  left: 6%;
  height: 100px;
  color: white;
}

.expertise-card-action {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0;
  height: 0%;
  transition: all 0.5s linear;
  border: 7px solid #fff;
  right: 1px;
}

.expertise-card:hover.expertise-card .expertise-card-action {
  top: 0%;
  opacity: 1;
  height: 100%;
  color: #fff;
  background-color: #000;
}

/* CATEGORIES */

.category-span {
  width: 10%;
  height: 8px;
  border-radius: 15px;
  background: #7d7e7e;
  display: block;
}

.category-card {
  transition: all 0.2s linear;
}

.category-card:hover {
  background: #fef9f9;
}

.category-card:nth-child(-n + 2) {
  border-top: 1px solid #d1cdcd;
}

.category-card-h3 {
  transition: all 0.3s linear;
  padding-top: 75px;
}

.category-card:hover.category-card .category-card-h3 {
  padding-top: 0px !important;
}

.category-card-p {
  font-size: 19px;
  transition: all 0.3s linear;
  color: #434343;
  opacity: 0;
}

.category-card:hover.category-card .category-card-p {
  display: block;
  transition: all 0.3s linear;
  opacity: 1;
}

/* ABOUT */

.left-box-h2 {
  color: #cb0532;
  letter-spacing: -1px;
  text-transform: capitalize;
  font-size: 50px;
  padding-bottom: 15px;
  position: relative;
  line-height: 60px;
}

.left-box-span {
  width: 15%;
  height: 8px;
  border-radius: 15px;
  background: #7d7e7e;
  display: block;
}

.right-box-h2 {
  color: #000;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 50px;
}

.right-box-p {
  text-align: justify;
  font-size: 19px;
  color: #434343;
}

.right-box-p strong {
  font-weight: 500;
}

.about_link {
  font-size: 15px;
  color: #000;
  padding: 12px 7px;
  text-transform: uppercase;
  border: 1px solid #000;
  transition: all 0.3s linear;
  text-align: center;
  width: 60%;
}
.about_link:hover {
  transition: all 0.3s linear;
  color: #fff;
  background: #cb0532;
}

@media (max-width: 798px) {
  .main_div {
    height: 30rem;
    text-align: center;
    padding: 0.5rem;
  }
  .main_h2 {
    font-size: 25px;
  }
  .main_p {
    font-size: 16px;
  }
  .left-box-h2 {
    font-size: 30px;
    text-align: center;
  }

  .left-box-span {
    margin: 0 auto;
  }

  .right-box-h2 {
    text-align: center;
    font-size: 24px;
  }

  .right-box-p {
    font-size: 14px;
  }

  .about_link {
    padding: 10px 10px;
    font-size: 15px;
    background: #cb0532;
    border-color: #cb0532;
    color: #fff;
  }
}
